includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true

    ignoreErrors:
        - '#Property TimoCuijpers\\LaravelControllersGenerator\\Drivers\\SQLite\\Connector::\$sm with generic class Doctrine\\DBAL\\Schema\\AbstractSchemaManager does not specify its types: T#'
        - '#Property TimoCuijpers\\LaravelControllersGenerator\\Drivers\\MySQL\\Connector::\$sm with generic class Doctrine\\DBAL\\Schema\\AbstractSchemaManager does not specify its types: T#'
        - '#Property TimoCuijpers\\LaravelControllersGenerator\\Drivers\\PostgreSQL\\Connector::\$sm with generic class Doctrine\\DBAL\\Schema\\AbstractSchemaManager does not specify its types: T#'
